In [1]:
import pandas as pd

In [71]:
df = pd.read_csv('survey_results_public.csv', index_col ='ResponseId')

In [72]:
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [73]:
schema_df = pd.read_csv('survey_results_schema.csv')

In [74]:
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [75]:
pd.set_option('display.max_columns', 85)

In [76]:
pd.set_option('display.max_rows', 85)

In [77]:
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [78]:
# checando a coluna dos salÃ¡rios 'ConvertedCompYearly'
df['ConvertedCompYearly'].head(15)

ResponseId
1     62268.0
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10    51552.0
11        NaN
12    46482.0
13    77290.0
14        NaN
15        NaN
Name: ConvertedCompYearly, dtype: float64

In [80]:
# calculando a mediana dos salÃ¡rios
df['ConvertedCompYearly'].median()

56211.0

In [81]:
# calculando a mediana de todas as colunas numÃ©ricas
df.median()

CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

In [82]:
# describe dÃ¡ o sumÃ¡rio estatÃ­stico de todas as colunas numÃ©ricas
df.describe()

          CompTotal  ConvertedCompYearly
count  4.718300e+04         4.684400e+04
mean   2.119407e+69         1.184262e+05
std    4.603702e+71         5.272944e+05
min    0.000000e+00         1.000000e+00
25%    1.600000e+04         2.702500e+04
50%    6.700000e+04         5.621100e+04
75%    1.400000e+05         1.000000e+05
max    1.000000e+74         4.524131e+07

In [84]:
df['DevType'].value_counts()

Developer, full-stack                                                                                                                                                   8601
Developer, back-end                                                                                                                                                     5467
Developer, front-end                                                                                                                                                    2402
Developer, front-end;Developer, full-stack;Developer, back-end                                                                                                          2141
Developer, full-stack;Developer, back-end                                                                                                                               1774
                                                                                                                                                                        ...
Developer, front-end;Developer, full-stack;Developer, back-end;Database administrator;Developer, QA or test;Engineering manager;System administrator;Product manager       1
Data scientist or machine learning specialist;Database administrator;Scientist                                                                                             1
Academic researcher;Engineering manager;Educator                                                                                                                           1
Developer, mobile;Developer, front-end;Developer, desktop or enterprise applications;Designer;System administrator;Senior Executive (C-Suite, VP, etc.)                    1
Developer, desktop or enterprise applications;Developer, full-stack;Data scientist or machine learning specialist;Developer, QA or test                                    1
Name: DevType, Length: 8626, dtype: int64

In [85]:
df['DevType'].value_counts(normalize = True)

Developer, full-stack                                                                                                                                                   0.129369
Developer, back-end                                                                                                                                                     0.082230
Developer, front-end                                                                                                                                                    0.036129
Developer, front-end;Developer, full-stack;Developer, back-end                                                                                                          0.032203
Developer, full-stack;Developer, back-end                                                                                                                               0.026683
                                                                                                                                                                          ...
Developer, front-end;Developer, full-stack;Developer, back-end;Database administrator;Developer, QA or test;Engineering manager;System administrator;Product manager    0.000015
Data scientist or machine learning specialist;Database administrator;Scientist                                                                                          0.000015
Academic researcher;Engineering manager;Educator                                                                                                                        0.000015
Developer, mobile;Developer, front-end;Developer, desktop or enterprise applications;Designer;System administrator;Senior Executive (C-Suite, VP, etc.)                 0.000015
Developer, desktop or enterprise applications;Developer, full-stack;Data scientist or machine learning specialist;Developer, QA or test                                 0.000015
Name: DevType, Length: 8626, dtype: float64

In [86]:
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [87]:
df['Country'].value_counts(normalize=True)

United States of America                                0.183224
India                                                   0.125972
Germany                                                 0.067415
United Kingdom of Great Britain and Northern Ireland    0.053632
Canada                                                  0.036098
                                                          ...
Tuvalu                                                  0.000012
Saint Vincent and the Grenadines                        0.000012
Saint Kitts and Nevis                                   0.000012
Papua New Guinea                                        0.000012
Brunei Darussalam                                       0.000012
Name: Country, Length: 181, dtype: float64

In [88]:
df.groupby(['Country'])

In [89]:
country_grupo = df.groupby(['Country'])

In [90]:
# selecionando somente o Brasil
country_grupo.get_group('Brazil')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
20,"I used to be a developer by profession, but no...",Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,9,Other (please specify):,NaN,NaN,NaN,NaN,C;C++;HTML/CSS;JavaScript;Matlab;Node.js;PHP;P...,C;C++;HTML/CSS;JavaScript;Node.js;Python;SQL;T...,MariaDB;MySQL,MariaDB;MySQL,NaN,NaN,Angular;Express;Flask;React.js;Svelte,Express;Flask;React.js,NumPy,NumPy;Qt;React Native;TensorFlow,Git,Git,Vim;Visual Studio;Visual Studio Code,Vim;Visual Studio;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per week,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Appropriate in length,Easy,NaN
46,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp,22,15,"Developer, desktop or enterprise applications;...",2 to 9 employees,BRL\tBrazilian real,22000.0,Monthly,C#;C++;JavaScript;PowerShell;SQL;TypeScript,C#;Clojure;F#;SQL;TypeScript,Microsoft SQL Server;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL;Redis,Heroku;Microsoft Azure,AWS;Microsoft Azure,ASP.NET Core ;React.js,ASP.NET Core ;React.js;Svelte,.NET Core / .NET 5,.NET Core / .NET 5;React Native,Docker;Git;Kubernetes,Docker;Git;Unity 3D;Unreal Engine,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per week,"Yes, somewhat",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Easy,60480.0
297,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,Some college/university study without earning ...,18 - 24 years,School,12,12,"Developer, front-end",10 to 19 employees,BRL\tBrazilian real,3200.0,Monthly,Dart;HTML/CSS;JavaScript;TypeScript,Dart;HTML/CSS;JavaScript;Node.js;TypeScript,Firebase;MySQL;SQLite,Firebase;MySQL;SQLite,NaN,NaN,Angular,Angular;Express;Vue.js,Cordova,.NET Core / .NET 5;Cordova;Flutter,Docker;Git,Docker;Git;Unity 3D,Sublime Text;Visual Studio Code,Android Studio;Sublime Text;Visual Studio;Visu...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,Appropriate in length,Easy,8796.0
353,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;School;Online Forum;Online Cou...,10,15,"Developer, full-stack;Engineer, data;Database ...","Just me - I am a freelancer, sole proprietor, ...",USD\tUnited States dollar,NaN,Monthly,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,Microsoft SQL Server,Microsoft SQL Server,Google Cloud Platform;Microsoft Azure,Google Cloud Platform,ASP.NET,Angular.js;ASP.NET Core,.NET Framework,.NET Core / .NET 5,NaN,NaN,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Watch help / tutorial vid...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
535,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,16,12,"Developer, mobile;Developer, front-end;Develop...",20 to 99 employees,BRL\tBrazilian real,35000.0,Monthly,HTML/CSS;Java;JavaScript;Node.js;PHP;SQL;Swift...,HTML/CSS;JavaScript;Node.js;TypeScript,Elasticsearch;Firebase;MariaDB;MongoDB;MySQL;P...,Elasticsearch;MongoDB;PostgreSQL;Redis;SQLite,AWS;Google Cloud Platform;Heroku,AWS;Heroku,Angular;Express;Gatsby;React.js,Express;React.js,React Native,Flutter;React Native,Docker;Git;Yarn,Docker;Git;Yarn,Android Studio;Vim;Visual Studio Code;Xcode,Vim;Visual Studio Code,MacOS,Google it;Do other work and come back later;Pl...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,None of the above,Appropriate in length,Easy,96204.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83391,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",21,18,"Developer, front-end;Developer, full-stack;Dev...",2 to 9 employees,BRL\tBrazilian real,10000.0,Monthly,Dart;HTML/CSS;JavaScript;Node.js;PHP;SQL;TypeS...,Dart;Go;HTML/CSS;JavaScript;Node.js;PHP;Rust;S...,Firebase;MongoDB;MySQL,MongoDB;MySQL;PostgreSQL,AWS,AWS;Google Cloud Platform;Heroku;Microsoft Azure,Laravel;Vue.js,Laravel;Vue.js,NaN,NaN,Docker;Git,Git,Android Studio;NetBeans;Sublime Text;Visual St...,Android Studio;NetBeans;PHPStorm;Sublime Text;...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x;Black or of African des...,None of the above,None of the above,Too long,Easy,27492.0
83393,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,School,7,5,Data scientist or machine learning specialist;...,20 to 99 employees,BRL\tBrazilian real,300000.0,Yearly,Bash/Shell;Julia;PowerShell;Python;R,Julia,Cassandra;MongoDB,NaN,AWS,AWS;Google Cloud Platform;IBM Cloud or Watson;...,NaN,NaN,NaN,NaN,Git,Docker;Git,Atom;IntelliJ;IPython/Jupyter;Notepad++;PyChar...,Notepad++;Visual Studio Code,Windows,Visit Stack Overflow,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,Neutral,Yes,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,None of the above,Appropriate in length,Easy,68721.0
83429,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,School,12,7,"Senior Executive (C-Suite, VP, etc.)",20 to 99 employees,BRL\tBrazilian real,15000.0,Monthly,Bash/Shell;Node.js;TypeScript,Bash/Shell;Node.js;TypeScript,Elasticsearch;MongoDB;PostgreSQL;Redis,Elasticsearch;PostgreSQL;Redis,AWS;Google Cloud Platform,AWS;Google Cloud Platform,React.js,React.js,React Native,Flutter;React Native,Docker;Git;Terraform;Yarn,Docker;Git;Terraform;Yarn,Visual Studio Code;Webstorm,Visual Studio Code,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,41232.0
83434,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Online Forum;Online Courses or Certification;O...,15,11,"Developer, mobile;Developer, front-end;Develop...","1,000 to 4,999 employees",BRL\tBrazilian real,80000.0,Yearly,Java;JavaScript;Kotlin;Objective-C;TypeScript,Kotlin,Firebase;MongoDB;MySQL;SQLite,NaN,NaN,NaN,React.js,NaN,React Native,Flutter,Docker;Git;Yarn,Docker;Git,Android Studio;Visual Studio Code;Xcode,Android Studio;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,I have an anxiety disorder,Appropriate in length,Easy,18326.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I donâ€™t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [91]:
filtro = df['Country'] == 'Brazil'

In [92]:
df.loc[filtro]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
20,"I used to be a developer by profession, but no...",Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,9,Other (please specify):,NaN,NaN,NaN,NaN,C;C++;HTML/CSS;JavaScript;Matlab;Node.js;PHP;P...,C;C++;HTML/CSS;JavaScript;Node.js;Python;SQL;T...,MariaDB;MySQL,MariaDB;MySQL,NaN,NaN,Angular;Express;Flask;React.js;Svelte,Express;Flask;React.js,NumPy,NumPy;Qt;React Native;TensorFlow,Git,Git,Vim;Visual Studio;Visual Studio Code,Vim;Visual Studio;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per week,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Appropriate in length,Easy,NaN
46,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp,22,15,"Developer, desktop or enterprise applications;...",2 to 9 employees,BRL\tBrazilian real,22000.0,Monthly,C#;C++;JavaScript;PowerShell;SQL;TypeScript,C#;Clojure;F#;SQL;TypeScript,Microsoft SQL Server;PostgreSQL;Redis,Microsoft SQL Server;PostgreSQL;Redis,Heroku;Microsoft Azure,AWS;Microsoft Azure,ASP.NET Core ;React.js,ASP.NET Core ;React.js;Svelte,.NET Core / .NET 5,.NET Core / .NET 5;React Native,Docker;Git;Kubernetes,Docker;Git;Unity 3D;Unreal Engine,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per week,"Yes, somewhat",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Easy,60480.0
297,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,Some college/university study without earning ...,18 - 24 years,School,12,12,"Developer, front-end",10 to 19 employees,BRL\tBrazilian real,3200.0,Monthly,Dart;HTML/CSS;JavaScript;TypeScript,Dart;HTML/CSS;JavaScript;Node.js;TypeScript,Firebase;MySQL;SQLite,Firebase;MySQL;SQLite,NaN,NaN,Angular,Angular;Express;Vue.js,Cordova,.NET Core / .NET 5;Cordova;Flutter,Docker;Git,Docker;Git;Unity 3D,Sublime Text;Visual Studio Code,Android Studio;Sublime Text;Visual Studio;Visu...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,Appropriate in length,Easy,8796.0
353,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;School;Online Forum;Online Cou...,10,15,"Developer, full-stack;Engineer, data;Database ...","Just me - I am a freelancer, sole proprietor, ...",USD\tUnited States dollar,NaN,Monthly,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,Microsoft SQL Server,Microsoft SQL Server,Google Cloud Platform;Microsoft Azure,Google Cloud Platform,ASP.NET,Angular.js;ASP.NET Core,.NET Framework,.NET Core / .NET 5,NaN,NaN,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Watch help / tutorial vid...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
535,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,16,12,"Developer, mobile;Developer, front-end;Develop...",20 to 99 employees,BRL\tBrazilian real,35000.0,Monthly,HTML/CSS;Java;JavaScript;Node.js;PHP;SQL;Swift...,HTML/CSS;JavaScript;Node.js;TypeScript,Elasticsearch;Firebase;MariaDB;MongoDB;MySQL;P...,Elasticsearch;MongoDB;PostgreSQL;Redis;SQLite,AWS;Google Cloud Platform;Heroku,AWS;Heroku,Angular;Express;Gatsby;React.js,Express;React.js,React Native,Flutter;React Native,Docker;Git;Yarn,Docker;Git;Yarn,Android Studio;Vim;Visual Studio Code;Xcode,Vim;Visual Studio Code,MacOS,Google it;Do other work and come back later;Pl...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,None of the above,Appropriate in length,Easy,96204.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83391,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",21,18,"Developer, front-end;Developer, full-stack;Dev...",2 to 9 employees,BRL\tBrazilian real,10000.0,Monthly,Dart;HTML/CSS;JavaScript;Node.js;PHP;SQL;TypeS...,Dart;Go;HTML/CSS;JavaScript;Node.js;PHP;Rust;S...,Firebase;MongoDB;MySQL,MongoDB;MySQL;PostgreSQL,AWS,AWS;Google Cloud Platform;Heroku;Microsoft Azure,Laravel;Vue.js,Laravel;Vue.js,NaN,NaN,Docker;Git,Git,Android Studio;NetBeans;Sublime Text;Visual St...,Android Studio;NetBeans;PHPStorm;Sublime Text;...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x;Black or of African des...,None of the above,None of the above,Too long,Easy,27492.0
83393,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,School,7,5,Data scientist or machine learning specialist;...,20 to 99 employees,BRL\tBrazilian real,300000.0,Yearly,Bash/Shell;Julia;PowerShell;Python;R,Julia,Cassandra;MongoDB,NaN,AWS,AWS;Google Cloud Platform;IBM Cloud or Watson;...,NaN,NaN,NaN,NaN,Git,Docker;Git,Atom;IntelliJ;IPython/Jupyter;Notepad++;PyChar...,Notepad++;Visual Studio Code,Windows,Visit Stack Overflow,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,Neutral,Yes,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,None of the above,Appropriate in length,Easy,68721.0
83429,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,School,12,7,"Senior Executive (C-Suite, VP, etc.)",20 to 99 employees,BRL\tBrazilian real,15000.0,Monthly,Bash/Shell;Node.js;TypeScript,Bash/Shell;Node.js;TypeScript,Elasticsearch;MongoDB;PostgreSQL;Redis,Elasticsearch;PostgreSQL;Redis,AWS;Google Cloud Platform,AWS;Google Cloud Platform,React.js,React.js,React Native,Flutter;React Native,Docker;Git;Terraform;Yarn,Docker;Git;Terraform;Yarn,Visual Studio Code;Webstorm,Visual Studio Code,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,41232.0
83434,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Brazil,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Online Forum;Online Courses or Certification;O...,15,11,"Developer, mobile;Developer, front-end;Develop...","1,000 to 4,999 employees",BRL\tBrazilian real,80000.0,Yearly,Java;JavaScript;Kotlin;Objective-C;TypeScript,Kotlin,Firebase;MongoDB;MySQL;SQLite,NaN,NaN,NaN,React.js,NaN,React Native,Flutter,Docker;Git;Yarn,Docker;Git,Android Studio;Visual Studio Code;Xcode,Android Studio;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,I have an anxiety disorder,Appropriate in length,Easy,18326.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I donâ€™t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [93]:
df.loc[filtro]['LanguageHaveWorkedWith'].value_counts()

Delphi                                                             30
Python                                                             29
HTML/CSS;JavaScript;Node.js;TypeScript                             27
HTML/CSS;JavaScript;PHP;SQL                                        19
C#                                                                 18
                                                                   ..
Bash/Shell;Go                                                       1
Delphi;Java;Kotlin;PHP;SQL                                          1
Delphi;HTML/CSS;JavaScript;TypeScript                               1
HTML/CSS;Java;JavaScript;Kotlin;Node.js;SQL;TypeScript              1
Bash/Shell;C;HTML/CSS;JavaScript;Node.js;Python;Ruby;TypeScript     1
Name: LanguageHaveWorkedWith, Length: 1499, dtype: int64

In [94]:
# acessando o Ã­ndice multilevel com .loc
country_grupo['LanguageHaveWorkedWith'].value_counts().loc['India']

LanguageHaveWorkedWith
Python                                    292
Java                                      201
HTML/CSS;JavaScript;Node.js;TypeScript    112
HTML/CSS;JavaScript                       110
HTML/CSS;JavaScript;Node.js                99
                                         ...
Python;Swift                                1
Python;VBA                                  1
R;Swift                                     1
R;VBA                                       1
Swift;TypeScript                            1
Name: LanguageHaveWorkedWith, Length: 4248, dtype: int64

In [95]:
country_grupo['LanguageHaveWorkedWith'].value_counts()

Country      LanguageHaveWorkedWith
Afghanistan  APL                                                                                                                                                                                                                                                  3
             APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL;Crystal;Dart;Delphi;Elixir;Erlang;F#;Go;Groovy;Haskell;HTML/CSS;Java;JavaScript;Julia;Kotlin;LISP;Matlab;Node.js;Objective-C;Perl;PHP;PowerShell;Python;R;Ruby;Rust;Scala;SQL;Swift;TypeScript;VBA    2
             Bash/Shell                                                                                                                                                                                                                                           2
             HTML/CSS;JavaScript;PHP;SQL                                                                                                                                                                                                                          2
             APL;Assembly;Bash/Shell;C++;Clojure;Crystal;Elixir;Go;HTML/CSS;JavaScript;Node.js;Perl;PHP;Scala;Swift;TypeScript;VBA                                                                                                                                1
                                                                                                                                                                                                                                                                 ..
Zimbabwe     HTML/CSS;JavaScript;Node.js;PHP;Python;SQL;TypeScript                                                                                                                                                                                                1
             HTML/CSS;JavaScript;Node.js;Python                                                                                                                                                                                                                   1
             HTML/CSS;JavaScript;Python                                                                                                                                                                                                                           1
             HTML/CSS;JavaScript;TypeScript                                                                                                                                                                                                                       1
             Rust                                                                                                                                                                                                                                                 1
Name: LanguageHaveWorkedWith, Length: 54967, dtype: int64

In [96]:
country_grupo['ConvertedCompYearly'].median()

Country
Afghanistan                              9792.0
Albania                                 15900.0
Algeria                                  9875.0
Andorra                                 94045.5
Angola                                   9750.0
                                         ...
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                12678.0
Yemen                                    3954.0
Zambia                                   9816.0
Zimbabwe                                 7200.0
Name: ConvertedCompYearly, Length: 181, dtype: float64

In [97]:
# media salarial brasileira 
country_grupo['ConvertedCompYearly'].median().loc['Brazil']

21996.0

In [98]:
country_grupo['ConvertedCompYearly'].agg(['median','mean'])

                                       median          mean
Country
Afghanistan                            9792.0  2.794748e+06
Albania                               15900.0  4.499814e+04
Algeria                                9875.0  1.446114e+04
Andorra                               94045.5  8.928200e+04
Angola                                 9750.0  2.155680e+04
...                                       ...           ...
Venezuela, Bolivarian Republic of...  12000.0  2.246505e+04
Viet Nam                              12678.0  1.995289e+04
Yemen                                  3954.0  5.628667e+03
Zambia                                 9816.0  1.991491e+04
Zimbabwe                               7200.0  1.141477e+04

[181 rows x 2 columns]

In [99]:
# calculando a media e a mediana do salario brasileiro dos developers
country_grupo['ConvertedCompYearly'].agg(['median','mean']).loc['Brazil']

median    21996.000000
mean      42214.023373
Name: Brazil, dtype: float64

In [100]:
filtro = df['Country'] =='Brazil'

In [102]:
# criando um filtro para checar somente a linguagem Python
df.loc[filtro]['LanguageHaveWorkedWith'].str.contains('Python')

ResponseId
20        True
46       False
297      False
353      False
535      False
         ...
83391    False
83393     True
83429    False
83434    False
83439    False
Name: LanguageHaveWorkedWith, Length: 2254, dtype: object

In [103]:
# total de pessoas que trabalharam com Python no Brasil no ano passado
df.loc[filtro]['LanguageHaveWorkedWith'].str.contains('Python').sum()

951

In [104]:
# para acessar um groupby object Ã© preciso usar .apply lambda
country_grupo['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [105]:
country_respondentes = df['Country'].value_counts()

In [106]:
country_respondentes

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Tuvalu                                                      1
Saint Vincent and the Grenadines                            1
Saint Kitts and Nevis                                       1
Papua New Guinea                                            1
Brunei Darussalam                                           1
Name: Country, Length: 181, dtype: int64

In [107]:
country_respondentes.loc['Brazil']

2254

In [108]:
paises_python = country_grupo['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [109]:
paises_python

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [110]:
python_df = pd.concat([country_respondentes, paises_python], axis='columns', sort = False)

In [111]:
python_df

,Country,LanguageHaveWorkedWith
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Tuvalu,1,1
Saint Vincent and the Grenadines,1,0
Saint Kitts and Nevis,1,0
Papua New Guinea,1,0
Brunei Darussalam,1,1

In [112]:
python_df.loc['Brazil']

Country                   2254
LanguageHaveWorkedWith     951
Name: Brazil, dtype: int64

In [117]:
python_df.rename(columns={'Country':'NumRespondentes','LanguageHaveWorkedWith':'UsuariosPython'}, inplace=True)

In [118]:
python_df

,NumRespondentes,UsuariosPython
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Tuvalu,1,1
Saint Vincent and the Grenadines,1,0
Saint Kitts and Nevis,1,0
Papua New Guinea,1,0
Brunei Darussalam,1,1

In [121]:
python_df['%UsuariosPython'] = (python_df['UsuariosPython']/python_df['NumRespondentes'])*100

In [123]:
del python_df['PCTConhecePython']

In [124]:
python_df

,NumRespondentes,UsuariosPython,%UsuariosPython
United States of America,15288,7975,52.165097
India,10511,5233,49.785939
Germany,5625,2713,48.231111
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.022346
Canada,3012,1593,52.888446
...,...,...,...
Tuvalu,1,1,100.000000
Saint Vincent and the Grenadines,1,0,0.000000
Saint Kitts and Nevis,1,0,0.000000
Papua New Guinea,1,0,0.000000
Brunei Darussalam,1,1,100.000000

In [125]:
# mostrando a porcentagem de usuarios do StackOverflow no Brasil que programam em Python
python_df.loc['Brazil']

NumRespondentes    2254.000000
UsuariosPython      951.000000
%UsuariosPython      42.191659
Name: Brazil, dtype: float64

In [127]:
python_df.sort_values(by = '%UsuariosPython', ascending=False)

,NumRespondentes,UsuariosPython,%UsuariosPython
Brunei Darussalam,1,1,100.0
Tuvalu,1,1,100.0
Dominica,1,1,100.0
Liechtenstein,1,1,100.0
Sierra Leone,2,2,100.0
...,...,...,...
Mali,2,0,0.0
Saint Vincent and the Grenadines,1,0,0.0
Saint Kitts and Nevis,1,0,0.0
Papua New Guinea,1,0,0.0
Monaco,2,0,0.0